<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <h1>Deixe o seu contato!</h1>
    <form action="/contato" method="post">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required>
        <br>

        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
        <br>

        <label for="assunto">Assunto</label>
        <input type="text" id="assunto" name="assunto" required>
        <br>

        <label for="mensagem">Mensagem</label>
        <input type="text" id="mensagem" name="mensagem" required>
        <br>

        <input type="submit" value="Enviar">
    </form>
    <a href="/">Página Inicial</a>
</body>
</html>