<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Deixe o seu Contato!</h1>

    <div>
        <form action="/contato" method="post">
            <label for="nome">Nome</label>
            <input type="text"placeholder="Nome" id="nome" name="nome" required>
            <br>

            <label for="email">Email</label>
            <input type="email" placeholder="Email" id="email" name="email" required>
            <br>

            <label for="assunto">Assunto</label>
            <input type="text" placeholder="Assunto" id="assunto" name="assunto" required>
            <br>

            <label for="mensagem">Mensagem</label>
            <input type="text" placeholder="Mensagem" id="mensagem" name="mensagem" required>
            <br>

            <input type="submit" id="botao" value="Enviar">
        </form>
    </div>

    <a href="/">Página Inicial</a>
</body>
</html>