<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
</head>
<body>
    <h1>Cardápio</h1>

    <div>
        
    </div>

    <form action="/sugestao">
        <label for="">Nome:</label>
        <input type="text" id="nome" name="nome">
        <br>

        <label for="">Ingredientes:</label>
        <input type="text" id="ingredientes" name="ingredientes">
        <br>
         
        <input type="submit" value="Enviar">
    </form>
</body>
</html>