<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Cardápio</h1>

    <div id="lanchesContainer"></div>
    
    <!-- <h1 id="sugestao">Sugestão</h1> -->
    <h1>Deixe a sua sugestão</h1>

    <!-- <p id="sugestao">Deixe uma sugestão de quais outros tipos de comidas poderíamos ter em nosso cardápio!</p> -->

    <form action="/sugestao">
        <label for="">Nome</label>
        <input type="text" placeholder="Nome" id="nome" name="nome" required>
        <br>

        <label for="">Ingredientes</label>
        <input type="text" placeholder="Ingredientes" id="ingredientes" name="ingredientes" required>
        <br>
         
        <input type="submit" id="botao" value="Enviar">
    </form>

    <a href="/contato">Contato</a>

    <script>
        fetch('/api/lanches')
            .then(response => response.json())
            .then(lanches => {
                const container = document.getElementById('lanchesContainer');

                lanches.forEach(lanche => {
                    const lancheCard = document.createElement('div');
                    lancheCard.className = 'card';

                    lancheCard.innerHTML = `
                        <h2>${lanche.nome}</h2>
                        <p>${lanche.ingredientes}</p>
                        <p id="idLanche">${lanche.id}</p>
                    `;
                    
                    container.appendChild(lancheCard);
                });
            })
            .catch(err => {
                document.getElementById('lanchesContainer').innerHTML = 
                    '<p>Não foi possível carregar o cardápio. Tente novamente mais tarde.</p>';
            })
    </script>
</body>
</html>